body {
    background-color: rgb(68, 65, 58);
    font-family:'Nunito';
  }
  
  form {
    line-height: 27px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  input[type="text"], input[type="number"] {
    min-height: 15px;
    border-radius: 5px;
    border:1px solid #cccccc;
  }
  
  input[type="radio"] {
    margin-left: 12px;
  }
  
  #main {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    height: 80vh;
    border-radius: 15px;
    margin: 2% 10%;
    overflow: auto;
    margin-top: 100px;
  }
  
  #story {
    padding: 0 3%;
  }
  
  #top {
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;
    border-radius: 15px;
  }
  
  #top img {
    display: block;
    width: 35%;
    margin: 0 auto;
  }
  
  .italics {
    font-style: italic;
  }
  
  .word {
    font-weight: bold;
    text-decoration: underline;
  }
  
  label {
    width: 240px;
    display: inline-block;
    text-align: right;
  }

  textarea {
    display: inline-block;
    align-items: center;
  }

  .slider {
    -webkit-appearance: none;
    width: 10%;
    height: 5px;
    background: #2A9D8F;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.form {
    align-items: ;
}