.form .radio input + i:after {
	background-color: #6dc5dd;	
}
.form .checkbox input + i:after {
	color: #6dc5dd;
}
.form .radio input:checked + i,
.form .checkbox input:checked + i,
.form .toggle input:checked + i {
	border-color: #6dc5dd;	
}
.form .rating input:checked ~ label {
	color: #6dc5dd;	
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.form {
	margin: 0;
	outline: none;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}
.form * {
	margin: 0;
	padding: 0;
}
.form header {
	display: block;
	padding: 20px 30px;	
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
}
.form fieldset {
	display: block;	
	padding: 25px 30px 5px;
	border: none;
	background: rgba(255,255,255,.9);
}

.form fieldset + fieldset {
	border-top: 1px solid rgba(0,0,0,.1);
}
.form section {
	margin-bottom: 20px;
}
.form footer {
	display: block;
	padding: 15px 30px 25px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
}
.form footer:after {
	content: '';
	display: table;
	clear: both;
}
.form a {
	color: #2da5da;
}
.form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.form .label.col {
	margin: 0;
	padding-top: 10px;
}


.form .input,
.form .select,
.form .textarea,
.form .radio,
.form .checkbox,
.form .toggle,
.form .button {
	position: relative;
	display: block;
}
.form .input input,
.form .select select,
.form .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}


.form .input-file .button {
	position: absolute;
	top: 4px;
	right: 4px;
	float: none;
	height: 31px;
	margin: 0;
	padding: 0 20px;
	font-size: 13px;
	line-height: 31px;
}
.form .input-file .button:hover {
	box-shadow: none;
}
.form .input-file .button input {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	font-size: 30px;
	cursor: pointer;
	opacity: 0;
}


.form .select i {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 1px;
	height: 11px;
	background: #fff;
	box-shadow: 0 0 0 12px #fff;
}
.form .select i:after,
.form .select i:before {
	content: '';
	position: absolute;
	right: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.form .select i:after {
	bottom: 0;
	border-top: 4px solid #404040;
}
.form .select i:before {
	top: 0;
	border-bottom: 4px solid #404040;
}
.form .select-multiple select {
	height: auto;
}


.form .textarea textarea {
	height: auto;
	resize: none;
}
.form .textarea-resizable textarea {
	resize: vertical;	
}
.form .textarea-expandable textarea {
	height: 39px;
}
.form .textarea-expandable textarea:focus {
	height: auto;
}