.form .radio input + i:after {
	background-color: #6dc5dd;	
}
.form .checkbox input + i:after {
	color: #6dc5dd;
}
.form .radio input:checked + i,
.form .checkbox input:checked + i,
.form .toggle input:checked + i {
	border-color: #6dc5dd;	
}
.form .rating input:checked ~ label {
	color: #6dc5dd;	
}


